# Variables that are commented out have default values set in the code for
# local development.
# Those that are not commented out need to be set before running the server.

# Project Settings
# PROJECT__NAME=
# PROJECT__ENVIRONMENT=
# PROJECT__VERSION=
# PROJECT__DEFAULT_BASE_URL=
# PROJECT__PORT=
# PROJECT__GRACEFUL_SHUTDOWN_PERIOD=
# PROJECT__MAX_GRPC_WORKERS=
# PROJECT__DEBUG=
# PROJECT__TESTING=
# PROJECT__SHOW_REQUEST_PROCESS_TIME_HEADER=
# PROJECT__PROMPT_LANGUAGE=

# Search API Configuration
# SEARCH__API_ROOT=
# SEARCH__API_PUBLIC_URL=
# SEARCH__BASE_URL=
# SEARCH__LOCALE=

# Embedding Model Configuration
# EMBEDDING__API_URL=
EMBEDDING__API_KEY=
# EMBEDDING__BATCH_SIZE=

# Splade Query Model Configuration
# SPLADEEMBEDDING__API=
SPLADEEMBEDDING__API_KEY=
# EMBEDDING__BATCH_SIZE=

# Redis Configuration
REDIS__URL=
# REDIS__DEFAULT_EXPIRY=

# Tracing Configuration
TRACING__SENTRY_DSN=
# TRACING__ENABLE_TRACING=
# TRACING__ENVIRONMENT=
# TRACING__PHOENIX_API=
# TRACING__PROJECT_NAME=
# TRACING__SERVICE_NAME=
# TRACING__JAEGER_ENDPOINT=

# Pubmed Parent Qdrant API Configuration
# PUBMED_PARENT_QDRANT__API_PORT=
# PUBMED_PARENT_QDRANT__API_URL=
PUBMED_PARENT_QDRANT__API_KEY=
# PUBMED_PARENT_QDRANT__COLLECTION_NAME=
# PUBMED_PARENT_QDRANT__TOP_K=
# PUBMED_PARENT_QDRANT__SPARSE_TOP_K=
# PUBMED_PARENT_QDRANT__METADATA_FIELD_NAME=

# Pubmed Cluster Qdrant API Configuration
# PUBMED_CLUSTER_QDRANT__API_PORT=
# PUBMED_CLUSTER_QDRANT__API_URL=
PUBMED_CLUSTER_QDRANT__API_KEY=
# PUBMED_CLUSTER_QDRANT__COLLECTION_NAME=
# PUBMED_CLUSTER_QDRANT__TOP_K=
# PUBMED_CLUSTER_QDRANT__SPARSE_TOP_K=
# PUBMED_CLUSTER_QDRANT__METADATA_FIELD_NAME=

# Pubmed Retrieval Configuration
# PUBMED_RETRIEVAL__PARENT_RELEVANCE_CRITERIA=
# PUBMED_RETRIEVAL__CLUSTER_RELEVANCE_CRITERIA=
# PUBMED_RETRIEVAL__URL_PREFIX=

# Pubmed Database Configuration
PUBMED_DATABASE__CONNECTION=
# PUBMED_DATABASE__CHILDREN_TEXT_TABLE_NAME=
# PUBMED_DATABASE__RECORD_TITLE_TABLE_NAME=